<div class="container-fluid ">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
            <div class="center pt-4 pl-3 pr-3">
                <a routerLink="/pages/dashboard"> <img src="http://magictv.iplus.com.ec/assets/icon-512x152.png" alt="" srcset="" width="75"></a>
            </div>
            <div class="position-sticky mt-5">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="p-2 btn btn-info" href="/citas" style="margin-top: 0.3rem; margin-bottom: 0.3rem; cursor: pointer; width: 100%;">
                            <div class="centerLeft">
                                <i class="material-icons">pending_actions</i> Citas
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="p-2 btn btn-info" href="/pacientes" style="margin-top: 0.3rem; margin-bottom: 0.3rem; cursor: pointer; width: 100%;">
                            <div class="centerLeft">
                                <i class="material-icons">group</i> Pacientes
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="p-2 btn btn-info" href="/especialistas" style="margin-top: 0.3rem; margin-bottom: 0.3rem; cursor: pointer; width: 100%;">
                            <div class="centerLeft">
                                <i class="material-icons">medical_information</i> Especialistas
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="p-2 btn btn-info" href="/tratamientos" style="margin-top: 0.3rem; margin-bottom: 0.3rem; cursor: pointer; width: 100%;">
                            <div class="centerLeft">
                                <i class="material-icons">task</i> Tratamientos
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="p-2 btn btn-info" href="/pagos" style="margin-top: 0.3rem; margin-bottom: 0.3rem; cursor: pointer; width: 100%;">
                            <div class="centerLeft">
                                <i class="material-icons">payments</i> Pagos Médicos
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            <footer class="center absolute inset-x-0 py-2 px-4 bottom-16 animate__animated animate__fadeIn">
                <div class="shadow-md rounded-2xl bg-white" style="width: 100%;">
                    <div class="row">
                        <div class="col-12 center pt-3">
                            <img src="http://magictv.iplus.com.ec/assets/user.png" alt="" srcset="" width="50">
                        </div>
                        <div class="col-12 py-3">
                            <h3 class="text-lg font-bold center">Usuario</h3>
                            <label class="text-sm center text-gray-400">Usuario</label>
                        </div>
                        <div class="col-12 pb-3 center">
                            <div class="dropdown  bg-gray-100 p-2 px-3 rounded-xl hover:bg-gray-200 ">
                                <button class="dropdown-toggle w-40 sm:w-20 md:w-20 font-medium" type="button"
                                    id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                    aria-expanded="false">Opciones</button>
                                <ul class="dropdown-menu rounded-xl" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item cursor-pointer">Cerrar Sesión</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <footer class="center absolute inset-x-0 py-4 bottom-0">
                <span class="text-sm text-gray-400">&copy; 2024 RGAC98</span>
            </footer>
        </nav>

        <div class="col-md-9 ms-sm-auto col-lg-10 p-0 content">
            <header class="navbar sticky-top flex-md-nowrap centerRight px-5" style="background: rgb(251, 251, 251) !important;">
                <button style="border: solid 2px #001F27 !important; border-radius: 13px;" class="navbar-toggler d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="material-icons" style="color: #001F27;">menu</span>
                </button>
            </header>
            <div class="center">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>