<div>
    <div class="px-5">
        <div class=" shadow-md p-3 mb-5 rounded-2xl">
            <div class="card-body pt-2 pb-4 table-responsive" style="width: 75vw;">
                <h1 class="text-3xl "><b>TRATAMIENTOS</b></h1>
            </div>
        </div>
    </div>

    @if(tratamientos.length>0) 
    {
        <div class="px-5">
            <div class=" shadow-md p-3 mb-5 rounded-2xl">
                <div class="card-body pt-2 pb-4 table-responsive" style="width: 75vw;">
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="d-flex bd-highlight">
                                    <div class="flex-grow-1 bd-highlight">
                                        <div class="center centerD animated fadeIn">
                                            <table class="table">
                                                <thead>
                                                    <th>Tratamiento</th>
                                                    <th>Valor</th>
                                                    <th>Porcentaje</th>
                                                </thead>
                                                <tbody>
                                                    @for (tratamiento of tratamientos; track tratamiento) 
                                                    {
                                                        <tr>
                                                            <td>{{tratamiento.trt_nombre}}</td>
                                                            <td>{{tratamiento.trt_valor}}</td>
                                                            <td>{{tratamiento.trt_porcentaje}}</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }@else
    {
        <div class="center centerD" style="width: 30%;">
            <img src="../../assets/empty.jpg" alt="">
        </div>
        <h1 style="text-align: center;">Sin especialistas registrados</h1>
    }

    <button (click)="dialogs.abrirDialog('tratamientos')" class="btn btn-outline-primary addButtom" title="Nuevo tratamiento">
        <i class="material-icons center text-gray-500 ">add</i>
    </button>
</div>